body {
  background: url(/img/jets.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,.75);
  height: 100vh;
  color: white;
  overflow: hidden;
}

.App-header {
  height: 130px;
  padding: 20px 20px 0 20px;
}

.App-header h1 {
  font-weight: 400;
  font-size: 46px;
}

.App-header h2{
  font-size: 16px;
  font-weight: 300;
}

.Board h4{
  font-size: 18px;
  font-weight: 300;
}

.character-box{
  height: 65vh;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character:hover {
  transition: transform .2s ease-in-out;
  transform: scale(1.03,1.03);
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 30px;
}

.Footer a {
  text-decoration: none;
  color: #FFFFFF;
}

.Footer h3 {
  font-weight: 300;
}

@media screen and (max-width: 1340px) {
  img.profile-pic {
    height: 140px;
  }
}

@media screen and (max-width: 860px) {
  img.profile-pic {
    height: 100px;
  }
}

@media screen and (max-width: 640px) {
  .App-header {
    height: 90px;
  }
  
  .App-header h1 {
    font-size: 30px;
  }

  .Board h4 {
    font-size: 14px;
  }
}